*.pyc
*~
*#
#*
.#*
.spyproject/*
.idea
*pycache*
*.*~
*.*#
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
problems/tests/tmp
pycsp3/problems/tests/tmp
pycsp3/build
pycsp3/pycsp3.egg-info/
pycsp3/dist
build
dist
pycsp3.egg-info/
