table tr:first-child td, table tr:first-child th {
    border-top: 1px solid #ddd;

}

th, td {
    border-bottom: 1px solid #ddd;
    min-width: 5px;
    padding : 0;
    height: 30px;
}

table {
    border-collapse: collapse;
}
